variable "kube_config" {
  type        = string
  description = "path to kube config"
  default     = "./.kube/kube_config"
}

variable "slack_endpoint" {
  type        = string
  description = "Slack group wehbook endpoint"
  default     = ""
}

variable "github_token" {
  type        = string
  description = "github personal access token"
  default     = ""
}
